.login {
    margin: auto;
    margin-top: 70px;
    width: 400px;
    border: 1px solid rgb(214, 214, 214);
    padding: 30px;
}


.checkLogSig {
    background-color: gold;
    margin: auto;
    width: 50px;
}



