
.nav{
    
    display: grid;
    grid-template-columns:  50% 50%;
    padding: 15px;
    background: #fff;
    border-bottom: solid 1px rgb(221, 221, 221);
    margin-top: 20px;
}

.item {
    display: inline;
    padding: 20px;
    text-decoration: none;
}

.item:hover {
    background-color: rgba(158, 158, 158, 0.178);
    border-radius: 8px;
}

.item a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 700;
}

.item a:hover{
    color: black;
    text-decoration: none;
}

.item a.active {
    color: darkorange;
    background: transparent;
    text-decoration: none;

}



.logo{
    display: inline;
    float: left;
}


.ullChild{
   
}

.ull{
    position:absolute;
    margin-top: 8px; 
    font-family: Serif;
}

.itemform {
    display: inline;
    float: right;
    padding: 0px 20px;
}


.signin {
    display: grid;
    grid-template-columns: 1.6fr 0.4fr;
}

.form form{
    float: right;
}


.input input {
    margin-left: 10px;
    width: 150px;
    border: 2px solid #E7E7E7;
    border-radius: 8px; 
    padding: 5px;
}

.input button {
    margin-left: 10px;
    background-color: rgb(53, 57, 255);
    color: #ffffff;
    border-radius: 4px;
    padding: 5px;
    width: 100px;
    border: solid 2px rgb(53, 57, 255);

}

.signup {
    background-color: rgb(255, 255, 255);
}

.signupButton{
    width: 100px;
    background-color:  rgb(0, 148, 7);
    border: solid 2px  rgb(0, 148, 7);
    border-radius: 4px;
    padding: 5px;
    margin-left: 5px;
    text-align: center
}

.signupButton a{
    color: rgb(255, 255, 255);
}



